{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
            
 
             <img src="./pictures/about.jpg" style="object-fit:cover; justify-content:center; height:70%">
             <p class="title mt-5 text-center text-danger display-2"> We are here to help you plan your time while visiting Vienna. Our goal is to make your stay here as comfortable and memorable as possible.</p>
             <div class="container mx-auto">
             
           <p class=" p-2 display-6 text-center ">Want to know what are the places to visit in Vienna so that you don’t miss a thing? Here’s an overview of all of them, from the magnificent Baroque buildings to “golden” Art Nouveau, to the latest architecture. And over 100 museums beckon…</p>

           <p class="p-2 display-6 text-center">Music is in the air and in the Viennese soul: Music fans engage with the heritage of famous composers and a live music scene comprising every genre.</p>

           <p class="p-2 display-6 text-center">Elegant stores and jewelers huddle around Kärntner Strasse, Graben, and Kohlmarkt in Vienna's Old City. Vienna's trendiest shopping district is Mariahilfer Strasse and the little lanes around it.</p>

           <p class="p-2 display-6 text-center">The Viennese coffee house is known around the globe for its informal pleasantness, as an oasis of gemütlichkeit. Gugelhupf, Sachertorte, and many other tarts and cakes seduce with the promise of sweet pleasure.</p>

           <p class="p-2 display-6 text-center">Viennese Cuisine is the only cuisine in the world to be named after a city. Viennese chefs draw on influences from various countries to conjure up exciting dishes.</p>

           <p class="p-2 display-6 text-center">In Vienna in 2022, we celebrate life, art, pleasure, and, of course, all aspects of extraordinary city life.</p>
       
       </div>   

{% endblock %}