{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
   <div class="container m-5 text-center mx-auto">
   <p class="title mt-5 text-center display-2"> Feel free to contact us for any informations you may need :</p>
   <h4 class="m-3 p-5 text-danger">Are you looking for somewhere to stay or would you like some information for your trip to Vienna? Then you've come to the right place at Vienna Hotels & Info.<h4>
   <h5 class="m-3 p-2">Information and advice on all topics for your stay in Vienna. In person over the phone, by email or by post.<h5>
   <h5 class="m-3 p-2"> Leaflets and brochures: Order via Vienna Hotels & Info, in the online shop, or download straight from our website<h5>
   <h5 class="m-3 p-2">Booking your accommodation in Vienna: Advice and processing of reservations for individual travelers and groups of up to nine people<h5>
   
   <img class="img-size" src="./pictures/contact.jpg" style="width:80%; height:80%">

      <ol class="mt-5">
      <li class="list-group-item">Organisation: Austria Events Community</li>       
       <li class="list-group-item">E-mail:event_austria@mail.org.at</li>
       <li class="list-group-item">Phone Number: 012345678</li>
       <li class="list-group-item">Address: Albertinaplatz/Maysedergasse
1010 Vienna 20</li>

       </ol>
    </div>           

{% endblock %}