{% extends 'base.html.twig' %}
{% block body %}
<p class="title mt-5 text-danger display-2">Create a new Event</p>
   {{form_start(form)}}
   {{form_widget(form)}}
   {{form_end(form)}}
{% endblock %}